@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.card {
  z-index: 3;
  width: 0;
  height: 0;
  position: fixed;
  top: calc(50vh + 24px);
  left: 50%;
  transform: translateY(50%);
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  word-wrap: nowrap;
}
@media only screen and (min-width: 660px) {
  .card {
    position: fixed;
    top: calc(50vh + 24px);
    left: 50%;
    transform: translateY(50%);
  }
}
@media only screen and (max-width: 630px) {
  .card {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 631px) {
  .card {
    flex-direction: row;
  }
}

h1 {
  font-size: 40px;
  font-family: "Archivo Narrow", sans-serif;
  margin-bottom: 20px;
  color: #d1d1d1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.801);
}

p {
  font-size: 0.7em;
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
  color: #d1d1d1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

a {
  text-decoration: none;
}

@keyframes swipe {
  from {
    transform: translate3d(-50%, -90%, 0) rotateZ(-10deg);
  }
  to {
    transform: translate3d(-50%, -160%, 0) rotateZ(10deg);
  }
}
.swipeUp {
  animation-name: swipe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 120px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 10;
  display: none;
}

.blurb {
  line-height: 1.5;
  width: 95%;
}
@media only screen and (max-width: 660px) {
  .blurb {
    text-align: justify;
    font-size: 15px;
  }
}
@media only screen and (min-width: 661px) {
  .blurb {
    text-align: center;
    font-size: 17px;
  }
}

.link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  width: 130px;
}

.container {
  max-width: 95%;
}
@media only screen and (max-width: 660px) {
  .container {
    width: 100vw;
  }
}
@media only screen and (min-width: 661px) {
  .container {
    width: 600px;
  }
}

.columnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wideContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.intro {
  flex-direction: column;
}

.portrait {
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
}
@media only screen and (max-width: 660px) {
  .portrait {
    height: 40vh;
  }
}
@media only screen and (min-width: 661px) {
  .portrait {
    height: 40vh;
  }
}

.chemist {
  flex-direction: column;
}

.whiteBackground {
  margin-top: 20px;
  background: rgba(233, 233, 233, 0.651);
  transform: rotate(-5deg);
  margin-bottom: 30px;
  height: 40vh;
  border: 1px solid rgba(255, 255, 255, 0.212);
}

.chemistPortrait {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 20px white;
}

.skills {
  flex-direction: column;
  justify-content: center;
}
.skills__grid {
  justify-content: space-around;
  display: grid;
}
@media only screen and (max-width: 1180px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0px;
    grid-gap: 5px;
    width: 100%;
  }
}
@media only screen and (min-width: 1181px) and (max-width: 1319px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px;
    width: 90%;
  }
}
@media only screen and (min-width: 1321px) {
  .skills__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 60px;
    grid-gap: 20px;
    width: 90%;
  }
}

.fa-java {
  font-family: FontAwesome;
  color: #f09312;
  border: 1px solid red;
  position: relative;
  transform: translateY(-15%);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
@media only screen and (max-width: 660px) {
  .box {
    width: 100%;
  }
}
@media only screen and (min-width: 661px) {
  .box {
    width: 50%;
  }
}

.screenshot {
  width: 95%;
}

.contact {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactContainer {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.icon {
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.856);
}
@media only screen and (max-width: 660px) {
  .icon {
    width: 35px;
  }
}
@media only screen and (min-width: 661px) {
  .icon {
    width: 50px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
  color: #d1d1d1;
  text-decoration: none;
}
@media only screen and (max-width: 660px) {
  .item {
    font-size: 16px;
  }
}
@media only screen and (min-width: 661px) {
  .item {
    font-size: 20px;
  }
}

.copy {
  width: 26px;
  box-shadow: rgba(255, 255, 255, 0.856);
  margin-left: 20px;
}

.linkedInGithub {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

#myInput {
  opacity: 0;
}
