@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.295);
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 50%;
  margin-left: -38%;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
  /* standerd */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -32%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.copyDeets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin: auto;
  -webkit-tap-highlight-color: transparent;
  /* for removing the highlight */
}
