@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$breakpoint: 630px;

.card {
    z-index: 3;
    width: 0;
    height: 0;
    position: fixed;
    top: calc(50vh + 24px);
    left: 50%;
    transform: translateY(50%);
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-wrap: nowrap;
    @media only screen and (max-width: 630px) {
        flex-direction: column;
    }
    @media only screen and (min-width: 631px) {
        flex-direction: row;
    }
    // border: 3px solid white;
}

h1 {
    font-size: 40px;
    font-family: "Archivo Narrow", sans-serif;
    margin-bottom: 20px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.801);
}

p {
    font-size: 0.7em;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

.blurb {
    font-size: 17px;

    @media only screen and (max-width: $breakpoint) {
        text-align: justify;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        text-align: center;
    }
}

.link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.container {
    @media only screen and (max-width: $breakpoint) {
        width: 100vw;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        width: 600px;
    }
}

.columnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wideContainer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.intro {
    flex-direction: column;
}

.portrait {
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    max-width: 50vh;
    // height: 30%;
}

.chemist {
    flex-direction: column;
}

.chemistPortrait {
    max-width: 80vw;
    max-height: 40vh;
    transform: rotate(-5deg);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    margin-bottom: 30px;
    // border: 2px solid rgba(150, 150, 150, 0.473);
}

.skills {
    flex-direction: column;
    justify-content: center;
    &__grid {
        margin-top: 60px;
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 90%;
    }
}

.fa-java {
    font-family: FontAwesome;
    color: #f09312;
}

.color-change {
    color: blue;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $breakpoint) {
        width: 100%;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        width: 50%;
    }
    margin: 5px;
}

.project1 {
}

.screenshot {
    width: 100%;
}

.contact {
    background-color: rgba(7, 23, 167, 0.24);
    border-radius: 50%;
}

.contactContainer {
    width: 300px;
}

.icon {
    width: 50px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.856);
}

.copy {
    width: 26px;
    box-shadow: rgba(255, 255, 255, 0.856);
    margin-left: 20px;
}

.copyDeets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#myInput {
    opacity: 0;
}

.item {
    @extend %flexSetup;
    font-family: Arial;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

%sectionBlock {
    @media only screen and (max-width: 1300px) {
        width: 80vw;
    }
    @media only screen and (min-width: 1301px) {
        width: 1041px;
    }
}

%flexSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
