@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.card {
    z-index: 3;
    width: 0;
    height: 0;
    position: fixed;
    top: calc(50vh + 24px);
    left: 50%;
    transform: translateY(50%);
    // transform: translateX(-50%);
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-wrap: nowrap;
    // border: 3px solid white;
}

h1 {
    font-size: 40px;
    font-family: "Archivo Narrow", sans-serif;
    margin-bottom: 20px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.801);
}

p {
    font-size: 25px;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

.blurb {
    font-size: 17px;
    text-align: justify;
}

.link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.container {
    @media only screen and (max-width: 630px) {
        width: 100vw;
    }
    @media only screen and (min-width: 631px) {
        width: 600px;
    }
}

.wideContainer {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.intro {
    // background-color: rgba(38, 163, 194, 0.24);
    // background-color: rgba(194, 38, 38, 0.315);
}

.portrait {
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    width: 50vh;
    height: 50vh;
}

.chemist {
    // height: 100px;
    // width: 100px;
    // background-color: white;
}

.chemistPortrait {
    border-radius: 1%;
    width: 50vh;
    transform: rotate(-5deg);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    margin-bottom: 30px;
    // border: 2px solid rgba(150, 150, 150, 0.473);
}

.skills {
    // @extend %sectionBlock;
    @extend %flexSetup;
    justify-content: center;
    &__grid {
        margin-top: 60px;
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 90%;
    }
    // background-color: rgba(139, 0, 0, 0.185);
}

.fa-java {
    font-family: FontAwesome;
    color: #f09312;
}

.color-change {
    color: blue;
}

.projects {
    // background-color: rgba(194, 38, 38, 0.24);
}

.screenshot {
    height: 60%;
}

.contact {
    background-color: rgba(7, 23, 167, 0.24);
    border-radius: 50%;
}

.contactContainer {
    width: 300px;
}

.icon {
    width: 50px;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.856);
}

.copy {
    width: 26px;
    box-shadow: rgba(255, 255, 255, 0.856);
    margin-left: 20px;
}

.copyDeets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#myInput {
    display: none;
}

.item {
    @extend %flexSetup;
    font-family: Arial;
    font-size: 20px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

%sectionBlock {
    @media only screen and (max-width: 1300px) {
        width: 80vw;
    }
    @media only screen and (min-width: 1301px) {
        width: 1041px;
    }
}

%flexSetup {
    display: flex;
    flex-direction: column;
    align-items: center;
}
