@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$breakpoint: 660px;

.card {
    z-index: 3;
    width: 0;
    height: 0;
    @media only screen and (min-width: $breakpoint) {
        position: fixed;
        top: calc(50vh + 24px);
        left: 50%;
        transform: translateY(50%);
    }
    position: fixed;
    top: calc(50vh + 24px);
    left: 50%;
    transform: translateY(50%);

    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-wrap: nowrap;
    @media only screen and (max-width: 630px) {
        flex-direction: column;
    }
    @media only screen and (min-width: 631px) {
        flex-direction: row;
    }
}

h1 {
    font-size: 40px;
    font-family: "Archivo Narrow", sans-serif;
    margin-bottom: 20px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.801);
}

p {
    font-size: 0.7em;
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    color: rgb(209, 209, 209);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
}

a {
    text-decoration: none;
    // text-decoration-color: rgba(255, 255, 255, 0);
}

.swipeUp {
    width: 15%;
    @media only screen and (max-width: $breakpoint) {
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        display: none;
    }
}

.blurb {
    font-size: 17px;
    line-height: 1.5;
    width: 95%;
    @media only screen and (max-width: $breakpoint) {
        text-align: justify;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        text-align: center;
    }
}

.link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}

.container {
    max-width: 95%;
    @media only screen and (max-width: $breakpoint) {
        width: 100vw;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        width: 600px;
    }
}

.columnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wideContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.intro {
    flex-direction: column;
}

.portrait {
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    max-width: 50vh;
}

.chemist {
    flex-direction: column;
}

.whiteBackground {
    background: rgba(233, 233, 233, 0.651);
    transform: rotate(-5deg);
    margin-bottom: 30px;
    max-width: 80vw;
    max-height: 40vh;
    border: 1px solid rgba(255, 255, 255, 0.212);
}

.chemistPortrait {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.skills {
    flex-direction: column;
    justify-content: center;
    &__grid {
        justify-content: space-around;
        display: grid;
        width: 90%;
        @media only screen and (max-width: 1180px) {
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 0px;
            grid-gap: 5px;
        }
        @media only screen and (min-width: 1181px) and (max-width: 1319px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 30px;
            grid-gap: 20px;
        }
        @media only screen and (min-width: 1320px + 1px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin-top: 60px;
            grid-gap: 20px;
        }
    }
}

.fa-java {
    font-family: FontAwesome;
    color: #f09312;
    border: 1px solid red;
    position: relative;
    transform: translateY(-15%);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $breakpoint) {
        width: 100%;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        width: 50%;
    }
    margin: 2vw;
}

.screenshot {
    width: 95%;
}

.contact {
    // background-color: rgba(7, 23, 167, 0.24);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactContainer {
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.icon {
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.856);
    @media only screen and (max-width: $breakpoint) {
        width: 35px;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        width: 50px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.856);
    color: rgb(209, 209, 209);
    text-decoration: none;
    @media only screen and (max-width: $breakpoint) {
        font-size: 16px;
    }
    @media only screen and (min-width: $breakpoint + 1px) {
        font-size: 20px;
    }
}

.copy {
    width: 26px;
    box-shadow: rgba(255, 255, 255, 0.856);
    margin-left: 20px;
}

.linkedInGithub {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

#myInput {
    opacity: 0;
}
