.header {
    background-color: #cacaca25;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 3px double #007792;
    width: 100vw;
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    min-height: 48px;
}
.navBar__container {
    @media only screen and (max-width: 630px) {
        display: none;
    }
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 400px;
    padding-right: 15px;
    padding-left: 15px;
}
.navBar__item {
    color: #686868;
    font-family: "Archivo Narrow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
.navBar__link {
    text-decoration: none;
    color: #726d81;
}
.navBar__link:visited {
    color: #ffffff;
}
.navBar__link:hover {
    color: #ffffff;
}
.navBar__item:hover {
    color: #ffffff;
    cursor: pointer;
}
.navBar__name {
    color: #c8c8c8;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 40px;
    font-weight: 600;
    min-width: 200px;
    margin-left: 10px;
}

.return {
    @media only screen and (min-width: 630px) {
        display: none;
    }
    width: 30px;
    margin-right: 12px;
    &:hover {
        cursor: pointer;
    }
}
