body {
  text-align: center;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.textbox {
  height: 200px;
  width: 40vw;
  font-size: 30px;
}
