@use "devices" as devices;

body {
    background-color: rgb(249, 252, 255);
}

.header {
    text-align: center;
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(57, 181, 74);
        // -webkit-text-stroke: 1px rgba(0, 0, 0, 0.493);
        text-decoration: underline;
        text-decoration-color: rgb(243, 182, 5);

        @include devices.phone {
            font-size: 35px;
        }

        @include devices.tablet {
            font-size: 40px;
        }

        @include devices.tablet-landscape {
            font-size: 60px;
        }

        @include devices.laptop {
            font-size: 60px;
        }

        @include devices.monitor {
            font-size: 60px;
        }

        @include devices.XLmonitor {
            font-size: 60px;
        }
    }
    &__intro {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
}

.mainImage {
    @include devices.phone {
        width: 150px;
    }

    @include devices.tablet {
        width: 150px;
    }

    @include devices.tablet-landscape {
        width: 150px;
    }

    @include devices.laptop {
        width: 200px;
    }

    @include devices.monitor {
        width: 200px;
    }

    @include devices.XLmonitor {
        width: 200px;
    }
    padding: 30px;
    padding-bottom: 0px;
}
